<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>
        <%= title %>
    </title>

    <style>
        h1{
            color: red;
            font-size: 5em;
        }
    </style>
</head>
<body>
    
    <h1>This is Codeial / <%= title %> page. </h1>

</body>
</html>