<link rel="stylesheet" href="/css/user_profile.css">

<h1>
    This is Codeial / <%= title %> page
</h1>

<div id="userDetails">
    
    <h2>Username :  </h2>
    <h2>E-mail :    </h2>

</div>

<form id="logout-div" method="GET" action="/users/logout">
    <button type="submit" id="logout-btn">
        Log Out
    </button>
</form>


